<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<!-- Creating an instructor profile partial -->

	<div class="new-form-part2">

		<%= form_for @instructor, html: { class: "pure-form pure-form-aligned instructor-form" } do |f| %>

			<form>

				<div class="pure-control-group">
					<%= f.label :blurb %>
					<%= f.text_area :blurb, placeholder: "Tell us about your tennis history" %>
				</div> 

				<div class="pure-control-group">
					<%= f.label :highest_level %>
					<%= f.select(:highest_level, options_for_select([
						["Competitive Junior", 1],
						["Collegiate/NCAA", 2],
						["Amateur/Challenger", 3],
						["Professional", 4]], selected: :highest_level)) %>
				</div> 

				<div class="pure-control-group">
					<!-- Private, Group/Clinics -->
					<%= f.label :lesson_type %>
						<p>Check all that apply</p>
					<%= f.checkbox(:lesson_type, "Private" %>
					<%= f.checkbox(:lesson_type, "Group/Clinics" %>
				</div>

				<div class="pure-control-group">
					<!-- Children, Competitive Juniors, Collegiate players, Adults -->
					<%= f.label :lesson_ages %>
						<p>Check all that apply</p>
					<%= f.checkbox(:lesson_ages, "Children") %>
					<%= f.checkbox(:lesson_ages, "Competitive Juniors") %>
					<%= f.checkbox(:lesson_ages, "Adults") %>
				</div>

				<div class="pure-control-group">
					<!-- Groundstrokes, Net game, Serve, Fitness/Endurance, Spin -->
					<%= f.label :lesson_speciality %>
						<p>Check all that apply</p>
					<%= f.checkbox(:lessons_speciality, "Groundstrokes") %>
					<%= f.checkbox(:lessons_speciality, "Net game") %>
					<%= f.checkbox(:lessons_speciality, "Serve") %>
					<%= f.checkbox(:lessons_speciality, "Top Spin/Slice") %>
					<%= f.checkbox(:lessons_speciality, "Fitness/Endurance") %>
					
				</div>
				
				<div class="pure-control-group">
					<!-- Starting hourly rate -->
					<%= f.label :rate_hourly %>
					<%= f.number :rate_hourly, placeholder: "For example, 50.00" %>
				</div>

				<div class="pure-control-group">
					<!-- Starting rate for an hour-long clinic -->
					<%= f.label :rate_clinic %>
					<%= f.number :rate_clinic, placeholder: "For example, 100.00" %>
				</div>

				<div class="pure-control-group">
					<!-- When are you available to teach -->
					<%= f.label :availability %>
						<p>Check all that apply </p>
					<%= f.check_box(:availability, "Weekday Mornings") %>
					<%= f.check_box(:availability, "Weekday Evenings") %>
					<%= f.check_box(:availability, "Weekdays (all)") %>
					<%= f.check_box(:availability, "Weekend Mornings") %>
					<%= f.check_box(:availability, "Weekend Evenings") %>
					<%= f.check_box(:availability, "Weekend (all)") %>
				</div>

				<div class="pure-button">
					<%= f.submit "Submit" %>
				</div>	

				<!-- Skip this section of the player profile -->
				<div class="pure-button pure-button-primary">
					<%= f.button "Skip this step", link_to: user_path(@user) %>
				</div>	

			</form>

		<% end %>

	</div>