<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<!-- Creating an instructor profile partial -->

	<div class="new-form-part2">

		<%= form_for @instructor, html: { class: "pure-form pure-form-aligned instructor-form" } do |f| %>

			<form>

				<div class="pure-control-group">
					<%= f.label :blurb %>
					<%= f.text_area :blurb, placeholder: "Tell us about your tennis history" %>
				</div> 

				<div class="pure-control-group">
					<%= f.label :highest_level, "I have played as a: " %>
					<%= f.select(:highest_level, options_for_select([
						["Competitive Junior", 1],
						["Collegiate/NCAA", 2],
						["Amateur/Challenger", 3],
						["Professional", 4]], selected: :highest_level)) %>
				</div> 

				<div class="pure-control-group">
					<!-- Private, Group/Clinics -->
					<%= f.label :lesson_type, "I teach: " %>
						<p>Select all that apply</p>
					<%= f.select(:lesson_type, options_for_select([
						["Private", "Private"],
						["Group", "Group"]],
						selected: :lesson_type), { :multiple => true, :include_blank => true}) %>
				</div>

				<div class="pure-control-group">
					<%= f.label :lesson_speciality, "My speciality is teaching: " %> 
					<%= f.select(:lesson_speciality, options_for_select([
					["Groundstrokes", 1],
					["Forehand", 2],
					["Backhand", 3],
					["Serve", 4],
					["Net game", 5],
					["Spin", 6],
					["Endurance/fitness", 7]],
					selected: :lesson_type), { :multiple => true, :include_blank => true }) %>
				</div>

				<div class="pure-control-group">
					<!-- Children, Competitive Juniors, Collegiate players, Adults -->
					<%= f.label :lesson_ages, "I teach students that are: " %>
						<p>Select all that apply</p>
					<%= f.select(:lesson_ages, options_for_select([
						["Children", 1],
						["Competitive Juniors", 2],
						["Adults", 3]],
						selected: :lesson_ages), { :multiple => true, :include_blank => true }) %>
				</div>

				<div class="pure-control-group">
					<%= f.label :rate_hourly, "Private lessons start at:  " %> 
					<%= f.text_field(:rate_hourly, :placeholder => 'Enter "50" for $50.00/hour') %>
				</div>

				<div class="pure-control-group">
					<%= f.label :rate_clinic, "Group lessons/clinics start at: " %> 
					<%= f.text_field(:rate_clinic, :placeholder => 'Enter "50" for $50.00/hour') %>
				</div>

				<div class="pure-control-group">
					<%= f.label :availability, "I am available: " %> 
					<%= f.select(:availability,  options_for_select([
						["Weekday AMs", 1],
						["Weekday PMs", 2],
						["Weekday", 3],
						["Weekend AMs", 4],
						["Weekend PMs", 5],
						["Weekend", 6]],
						selected: :pro_availability), { multiple: :true, include_blank: :true}) %>
				</div>

					<div class="pure-button">
					<%= f.submit "Submit" %>
				</div>	

			</form>

		<% end %>

	</div>